<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>名刺一覧</title>
    </head>

    <body>
        <h1 th:object="${accounts}">ようこそ <span th:text="*{loginId}"></span>さん</h1>
        <div class="password" th:text="*{password}">th:text="${password}"←これはテスト用</div>
        <form th:action="@{/upload}" method="get">
            <input type="submit" value="新規登録">
        </form>
        <table border="1">
            <tr>
                <th>カードID</th>
                <th>会社名</th>
                <th>名前</th>
                <th>email</th>
                <th>電話番号</th>
                <th>住所</th>
                <th>記録者</th>
                <th>メモ</th>
                <th>写真(表)</th>
                <th>写真(裏)</th>
            </tr>
            <tr th:each="card : ${cards}">
                <td th:text="${card.card_id}"></td>
                <td th:text="${card.corporation}"></td>
                <td th:text="${card.name}"></td>
                <td th:text="${card.email}"></td>
                <td th:text="${card.email}"></td>
                <td th:text="${card.address}"></td>
                <td th:text="${card.author}"></td>
                <td th:text="${card.memo}"></td>
                <!-- <td><img th:src=th:text="${front_image_path}"></td> -->
                <td><img th:src="@{/static/images/clock_hatodokei.png}" alt="テスト"></td>
                <!-- <td><img th:src=th:text="${back_image_path}"></td> -->
                <!-- <td><img th:src="@{/static/images/pet_hoso_cat.png}"></td> -->
            </tr>
        </table>
    </body>
</html>