<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>ログイン画面</title>
    </head>

    <body>
        <form th:action="@{/uploadSuccess}">
            カードID<input name="card_id" type="text">
            会社名<input name="card_corporation" type="text">
            名前<input name="name" type="text">
            email<input name="email" type="text">
            電話番号<input name="tel" type="text">
            住所<input name="address" type="text">
            記録者<input name="author" type="text">
            メモ<input name="memo" type="text">
            写真(表)<input name="front_image_path" type="text">
            写真(裏)<input name="back_image_path" type="text">
            <input type="submit" value="登録">
        </form>
    </body>
</html>